body {
    padding: 30px;
    font-family: 'Merriweather', serif;
    font-size: 19px;
    background-color:#FFF1BD;
}

h1 {
    text-align: center;
    padding: 40px;
}

img {
    width: 400px;
    height: 400px;
    padding: 20px;
}

